<h1>Área do PROFESSOR - Gerenciamento de Aulas </h1>
<h1> </h1>

<!--
{{#each reservas}}
    <h1>Nome:  {{nome_espaco}}</h1>
    <h1>Capacidade: {{capacidade}}</h1>
    <p>Cód: {{id}}</p>  
    <hr> 
{{/each}}
!-->

<table border="1">
    <thead>
        <tr><th>Cod</th>
            <th>Nome Aula</th>
            <th>Video da Aula</th>
            <th>Professor</th>
        </tr>
    </thead>
    <tbody>
        {{#each aulas}}
        <tr>
            <th>{{'aulas.id'}}</th>
            <th>{{'aulas.aulaNome'}}</th>
            <th><iframe src="{{'aulas.aulaURL'}}" frameborder="0" width="400" heigth="300"></iframe></th>
            <th>{{email}}</th> 
        <!--     <th><iframe src="https://www.youtube.com/embed/VP-m86q-0yo" frameborder="0" width="420" heigth="315"></iframe></th> !-->
        <!-- <th><iframe src="https://www.youtube.com/embed/watch?v=7G8OKP1BTPg&list=PL-QAz5R5Rlm7Bs9SlHoX_CjLpgxlppFYZ&index=4" frameborder="0" width="420" heigth="315"></iframe></th> !-->
        <!-- https://www.youtube.com/watch?v=7G8OKP1BTPg&list=PL-QAz5R5Rlm7Bs9SlHoX_CjLpgxlppFYZ&index=4 !-->
            <th> <a href="/alterar/{{'aulas.id'}}/{{email}}"><button>edit</button></a></th>  
            <th> <a href="/excluir/{{'aulas.id'}}/{{email}}"><button>Excluir</button></a></th>
        <!--    <th> <a href="/cadastraaula2/{{'aulas.id'}}/{{email}}"><button>Nova Aula</button></a></th>     !-->
        </tr>
        {{/each}}
    </tbody>
</table>
<br>
<a href="/cadastraaula"><button>Cadastrar Nova  Aula</button></a><br><br>
<a href="/login"><button>Voltar Tela Inicial</button></a> 