<h1>Lista Espacos: </h1>

<!--
{{#each reservas}}
    <h1>Nome:  {{nome_espaco}}</h1>
    <h1>Capacidade: {{capacidade}}</h1>
    <p>Cód: {{id}}</p>  
    <hr> 
{{/each}}
!-->

<table border="1">
    <thead>
        <tr><th>Cod</th>
            <th>Nome Espaço</th>
            <th>Capacidade</th>
        </tr>
    </thead>
    <tbody>
        {{#each reservas}}
        <tr>
            <th>{{id}}</th>
            <th>{{nome_espaco}}</th>
            <th>{{capacidade}}</th> 
            <th> <a href="/edit3/{{id}}"><button>edit</button></a></th>  
            <th> <a href="/deletar/{{id}}"><button>Excluir</button></a></th>     
        </tr>
        {{/each}}
    </tbody>
</table>